<div class="flex align-center justify-center">
    <table class="table-auto border border-slate-500">
        <thead>
            <tr class="bg-blue-950">
                <th class="border border-slate-600 text-white px-16 py-2">Name</th>
                <th class="border border-slate-600 text-white px-16 py-2">Contact Number</th>
                <th class="border border-slate-600 text-white px-16 py-2">Email Address</th>
                <th class="border border-slate-600 text-white px-16 py-2">Actions</th>
            </tr>
        </thead>
        <tbody>
            @for (contacts of contactData; track contacts.id) {
            <tr>
                <td class="border border-slate-600 px-10 py-2 underline">
                    <a routerLink="/information-view/{{contacts.id}}">
                        {{ contacts.name }}
                    </a>
                </td>
                <td class="border border-slate-600 px-10 py-2">{{ contacts.contact }}</td>
                <td class="border border-slate-600 px-16 py-2">{{ contacts.email }}</td>
                <td class="border border-slate-600 px-16 py-2">
                    <button>
                        <span class="material-symbols-outlined">
                            edit
                        </span>
                    </button>

                    <button (click)="removeContact(contacts)">
                        <span class="material-symbols-outlined">
                            delete
                        </span>
                    </button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>